.cabecera{
    display: flex;
    background: #016A70;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    padding-block: 5rem;
    flex-direction: column;

}
.lista{
    border-radius: 5px;
    background: #ffffff;
    flex-direction:row;
    display: flex;
}
.lista__nav{
    list-style: none;
    display: flex;
   

}

.logo__cabecera{
    width: 100px;
    justify-items: flex-start;
}
.logo__cabecera2{
    width: 150px;
    justify-content: end;
    
}
.menu__item{
    padding: 1rem; 
}
